<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <title th:text="Admin"></title>
</head>
<body>
<!-- HEADER -->
<!-- /HEADER -->
<form method="post" action="/administrate">
<div class="first-table">
<table>
    <th>id</th>
    <th>type</th>
    <th>actId</th>
    <th>userId</th>
    <th>action</th>
    <caption>NAme</caption>
    <div th:each="${sessionScope.requestList}" th:var="reqList">
        <tr>
            <td><c:out value="${reqList.requestId}"/></td>
            <td><c:out value="${reqList.type}"/></td>
            <td><c:out value="${reqList.activity.name}"/></td>
            <td><c:out value="${reqList.user.login}"/></td>
            <td><select name="opt${reqList.requestId}" required>
                <option value="true"><fmt:message key="admin.req_confirm"/></option>
                <option value="false" selected="selected"><fmt:message key="admin.req_reject"/></option>
            </select></td>
        </tr>
    </divth:forEach>
</table>
</div>
<div class="col md-12 col lg-12 d-flex justify-content-center">
    <div class="paginationCenter">
        <div class="pagination">
            <c:if test="${currentPage != 1 }">
                <a href="${pageContext.request.contextPath}/administrate?page=${currentPage - 1}">&laquo;</a>
            </c:if>
            <c:forEach begin="1" end="${noOfPages}" var="i">
                <c:choose>
                    <c:when test="${currentPage eq i}">
                        <a href="" class="active">${i}</a>
                    </c:when>
                    <c:otherwise>
                        <a href="${pageContext.request.contextPath}/administrate?page=${i}">${i}</a>
                    </c:otherwise>
                </c:choose>
            </c:forEach>
            <c:if test="${currentPage lt noOfPages}">
                <a href="${pageContext.request.contextPath}/administrate?page=${currentPage + 1}">&raquo;</a>
            </c:if>
        </div>
    </div>
</div>
<input type="submit" class="main__btn" value="${admin}">
</form>
</body>
</html>
