<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reg</title>
</head>

<body>

<section id="content">
    <div class="signin__wrapper">
        <div class="signin">
            <form action="/login" method="post">
                <h2 class="signin__title" >Sign in</h2>
                <div class="input-field">
                    <input type="text" id="inputUsername" required name="login" class="signin__input" placeholder="username">
                </div>
                <div class="input-field">
                    <input type="password" id="inputPassword" required name="password" class="signin__input" placeholder="password">
                </div>
                <!--<c:if test="${ExceptionSignIn!=null}">
                    <c:out value="${ExceptionSignIn}"/>
                </c:if>-->
                <input type="submit" class="main__btn main__btn--left" value="enter"/>
            </form>
        </div>
        <div class="registr">
            <form method="post" action="/sign_up">
                <h2 class="signin__title">Registration Form</h2>
                <div class="input-field">
                    <input type="text" name="login" required="" class="signin__input" placeholder="username">
                </div>
                <div class="input-field">
                    <input type="password" name="password" required="" class="signin__input" placeholder="password">
                </div>
                <div class="input-field">
                    <input type="text" name="email" required="" class="signin__input" placeholder="email">
                </div>
                <!--<c:if test="${Exception!=null}">
                    <c:out value="${Exception}"/>
                </c:if>-->
                <input type="submit" value="sign up" class="main__btn main__btn--left">
            </form>
        </div>
    </div>
</section>
</body>
</html>
